@use 'scss/styles.scss' as *;

 $innerSpace: 1rem;
 $darkgrey: #222222;
 $ghostWhite: #f8f8ff;

.about {
  @extend .composite-grid;
  min-height: 100vh;
  img {
    @include responsive-image;
  }
}
.about__title {
  font-style: italic;
  font-size: 19px;
}
.about__navbar {
  @include simple-navbar(#f1f1f1, $darkgrey);
  font-weight: bolder;
  height: 100%;
}

.about__header {
  @extend .composite-grid__header;
}
.about__footer {
  color: $ghostWhite;
  @extend .composite-grid__footer;
  background-color: $darkgrey;
}

.about__main {
  @extend .composite-grid__main;
  background-color: #dadcde;
}
.about__main_article {
  position: relative;
}
.about__absolute_container {
  color: #222222;
  @extend .absolute-container;
  @extend .flex-column-end;
}
.about__aside {
  padding: $innerSpace;
  background-color: #dadcde;
  @extend .composite-grid__aside;
  @include responsive-font-size;
}
.about_aside__paragraph {
  @include paragraph;
}
.about__aside_details {
  @extend .flex-column-end;
  align-items: flex-start;
  padding: $innerSpace;
  @extend .composite-grid__details;
}
.about__summary {
  color: #ff0000;
  font-style: italic;
  font-weight: bolder;
  font-size: 19px;
}
//npx serve@latest out
