@use 'scss/styles' as *;


.homepage_main {
  img {
    @include responsive-image;
  }
}
.homepage__navbar {
  @include simple-navbar(#000000, #FC4EEE);
  padding: 0.5em 0;
  a {
    color: #000000;
    letter-spacing: 2px;
    font-weight: bolder;
  }
}
.homepage_article {
  @include grid-two-columns(750);
  background-color: #fcfca1;
}
.homepage_article__paragraph {
  @include paragraph;
  color: #fcfcfc;
}
.homepage_article__section1 {
  color: #f1f1f1;
  padding: 1em;
  @extend .flex-column-center;
  @include responsive-font-size;
  background-image: linear-gradient(90deg, #000000 0%, #53346d 100%);
}
.homepage_article__section2 {
  color: #222222;
  @extend .homepage_article__section1;
  background-color: #fcfca1;
}
.homepage_article__section3 {
  color: #222222;
  @extend .homepage_article__section1;
  background-color: #fcfca1;
}
.homepage_article__section_image {
  background-color: #000000;
}
.homepage_article__title {
  @include heading;
  color: #dc4c64;;
}
.homepage__footer {
  color: #f1f1f1;
  @extend .footer;
  padding: 1em;
}